# Ignore all build artifacts
**/build/
**/bin/
**/dist/
**/venv/
**/node_modules/
**/target/
**/dist/
**/charts/

# Ignore all environment variables
*.env
*.env.*
.env.local
.env.development.local
.env.production.local
.env.test.local

# Ignore all docker artifacts
**/docker/
**/docker-compose.yml
**/Dockerfile

# Ignore all helm artifacts
**/charts/
**/requirements.yaml
**/values.yaml

# Ignore all python artifacts
*.egg-info/
*.egg
*.pyc
*.pyo
__pycache__/
*.spec

# Ignore all golang artifacts
*.go
*.mod
*.sum
vendor/

# Ignore all devspace artifacts
**/devspace.yaml
**/devspace_config.yaml
**/build.env

# Ignore all editor artifacts
*.sublime-project
*.sublime-workspace
.settings.xml
.project

.env
.devspace/
